In [1]:
#FTEC4998

First Task:
1. Download a github desktop version, Learn what is a repository, what is pull and push
2. Install python
3. Choose IDE, VS code recommended
4. Install required library first
pip install numpy pandas yfinance tensorflow keras==2.6
5. Try to run all cell in "GitHub/FintechFYP/Sample1/Stock Prediction Using LSTM.ipynb"

In [2]:
import tensorflow as tf
import pandas as pd
import os
import numpy as np

2023-11-01 20:39:56.905067: I tensorflow/core/platform/cpu_feature_guard.cc:182] This TensorFlow binary is optimized to use available CPU instructions in performance-critical operations.
To enable the following instructions: AVX2 AVX512F AVX512_VNNI FMA, in other operations, rebuild TensorFlow with the appropriate compiler flags.
/Users/soka_1215/opt/anaconda3/lib/python3.9/site-packages/scipy/__init__.py:155: UserWarning: A NumPy version >=1.18.5 and <1.25.0 is required for this version of SciPy (detected version 1.26.1
  warnings.warn(f"A NumPy version >={np_minversion} and <{np_maxversion}"

In [5]:
PROGRAM_PATH = os.getcwd()
FILE_PATH = "SPY.csv"
csv_path = os.path.join(PROGRAM_PATH, FILE_PATH)
print(csv_path)

/Users/soka_1215/Documents/GitHub/FintechFYP/LSTM_trial_1/SPY.csv

In [7]:
df = pd.read_csv(csv_path)
df

,Date,Open,High,Low,Close,Adj Close,Volume
0,2012-01-03,127.760002,128.380005,127.430000,127.500000,102.458992,193697900
1,2012-01-04,127.199997,127.809998,126.709999,127.699997,102.619682,127186500
2,2012-01-05,127.010002,128.229996,126.430000,128.039993,102.892876,173895000
3,2012-01-06,128.199997,128.220001,127.290001,127.709999,102.627716,148050000
4,2012-01-09,128.000000,128.179993,127.410004,128.020004,102.876831,99530200
...,...,...,...,...,...,...,...
2971,2023-10-24,422.649994,424.820007,420.739990,423.630005,423.630005,78564200
2972,2023-10-25,421.890015,421.920013,417.019989,417.549988,417.549988,94223200
2973,2023-10-26,416.450012,417.329987,411.600006,412.549988,412.549988,115156800
2974,2023-10-27,414.190002,414.600006,409.209991,410.679993,410.679993,107228400
2975,2023-10-30,413.559998,416.679993,412.220001,415.589996,415.589996,86562700